
.glowny {background-color: silver;
		color:black;
		height:727px;
		width:100%;		
		
}
		
.menu 	{height:100px;
		width: 90%;
		background-color:#CCCCFF;
		display: flex;
		justify-content:center;
		margin: 0 auto;
		align-items:center;
		z-index:1;

	
		
}

.tresc 	{height:200px;
		width: 90%;
		background-color:#99CCFF;
		display: flex;
		justify-content:center;
		margin: 0 auto;
		align-items:center;

		}
		
.hr		{z-index:2;}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		